@tailwind base;
@tailwind components;
@tailwind utilities;

/* reusable CSS is deinfed is this file - variables and tailwind custom classes */

:root {
  /* font family variables */
  --heading-font: "Montserrat", sans-serif;
  --text-font: "Inter", sans-serif;
}
/* document styling  */
body {
  margin: 0;
  font-family: var(--text-font);
  color: var(--black);
}
a {
  text-decoration: none;
  color: inherit;
}

.heading {
  font-family: var(--heading-font);
  font-weight: 500;
  line-height: 115%;
}
/* Custom classes with TailWind */
h1 {
  @apply text-3xl md:text-4xl xl:text-6xl;
}
h2 {
  @apply text-2xl lg:text-5xl;
}
h3 {
  @apply text-xl lg:text-[28px];
}
/* Dropdown classes */
.show {
  @apply opacity-100 w-auto pointer-events-auto;
}
.dropdown-link {
  @apply block py-2 px-4 hover:bg-grey hover:text-green transition-colors duration-300;
}
.btn {
  @apply transition-colors duration-500 hover:text-grey hover:font-bold;
}
/* Card styling  */
#card {
  @apply w-[378px] min-h-[370px] flex flex-col items-start py-12 px-10 bg-white rounded-3xl;
}
