:root {
  --heading-font: "Montserrat", sans-serif;
  --text-font: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--text-font);
}

.heading {
  font-family: var(--heading-font);
}
.offer,
.offer:hover {
  color: var(--black, #111);
  background-color: white;
  border: none;
}
